<h3 align ="middle">Admin Page</h3>
<br>
  <table class="admin-table">
    <th style="text-align:center">USER DETAILS DATABASE
    <tr>
      <th>Name</th>
      <th>username</th>
      <th>ID</th>
      <th>Action</th>
      <tr>
        <td>tejas</td>
        <td>tejas</td>
        <td>5000</td>
        <td><button>Edit/Delete</button></td>
      </tr>
      <tr>
        <td>tejas</td>
        <td>tejas</td>
        <td>5000</td>
        <td><button>Edit/Delete</button></td>
      </tr>
      <tr>
        <td>tejas</td>
        <td>tejas</td>
        <td>5000</td>
        <td><button>Edit/Delete</button></td>
      </tr>



  </table>
